*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100%;
    height: 100%;
    background-color: #fff;
}

/* Navigation Section */
.navigation{
    width: 90%;
    height: 70px;
    margin: 10px auto;
    background-color:  #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .logo{

}

.navigation .menu{

}

.navigation .menu li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.menu a:hover{
    color: #9ED2C6;
}